<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap-reboot.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="wrapper">
      <header><%= title %></header>
      <section class="content">
      
      </section>
      <footer>
        Hackfortress Inc. Copyright Whatever
      </footer>
    </main>
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>
    <script src='/javascripts/index.js'></script>
  </body>
</html>
