<!DOCTYPE html>
<html>
  <%- include('head', {title: title}); %>
  <body>
    <main class="container">
      <%- include('header', {title: title}); %>
      <section class="content">
      </section>
      <%- include('footer'); %>
    </main>
    <%- include('scripts') %>
  </body>
</html>
