<nav id="nav" class="nav__container"  role="navigation">
    <button class="toggle__close fa fa-bars fa-2x"></button>
    <ul class="nav__list">
      <li class="nav__list-item">
        <a href='/'>
          <h3>Home</h3>
        </a>
      </li>
    </ul>
</nav>