<header class="header__container" role="banner">
    <button class="header__item header__nav-toggle fa fa-bars fa-2x"></button>
    <h1 class="header__item header__title">
      <%= title %>
    </h1>
</header>